
/******************************************************************************/
/* form content */
.site-form {
    color: #000000;
    border: 0px solid #ccc;
}

.site-form-header, .site-form-content {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.site-form-content {
    padding: 5px;
}

.site-form-content table {
    width: 100%;
}

.site-form-footer {
    margin-top: 10px;
    padding-top: 3px;
    text-align: right;
}

.site-form-error {
    display: none;
    font-size: 9pt;
    font-weight: bold;
    color: #fdd;
/*     border: 1px solid #522; */
    background: #722;
/*     border-radius: 5px; */
    padding: 3px;
    margin: 3px;
}

/******************************************************************************/
/* form inputs */
.site-form-input-label
{
    padding-right: 10px;
    font-size: 10pt;
    text-align: right;
    cursor: help;
}

.site-form-button, .site-form-input, .site-form-textarea {
    background: #ddd;
    border: 0px solid #aaa;
    font-size: 9pt;
    font-weight: normal;
/*     border-radius: 5px; */
    padding: 3px;
    margin: 5px;
    min-height: 20px;
}

.site-form-textarea {
    width: 90%;
}

.site-form-button {
    font-weight: bold;
    border: 1px solid #aaa;
    padding-left: 6px;
    padding-right: 6px;
    background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    cursor: default;
}

.site-form-button:hover {
    background: #bbb;
    background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
}

.site-form-button:active {
    background: #aaa;
}
